.content-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 32px;
}
.category-menu {
  display: grid;
  gap: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}