h1 {
  margin-bottom: 64px;
}

.page {
  --page-gap: 32px;
  --header-height: 64px;

  display: grid;
  gap: var(--page-gap);
}

.header {
  height: var(--header-height);
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header-nav a {
  text-decoration: none;
  color: #999;
  padding: 16px;
}

.content-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 32px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.category-menu {
  display: grid;
  gap: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  max-height: calc(100vh - var(--header-height) - var(--page-gap));
  overflow-y: auto;
}
.category-menu a {
  text-decoration: none;
  color: #999;
}
.card {
  border: 1px solid #ccc;
  padding: 32px;
  display: grid;
  border-radius: 32px;
  text-align: left;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.card--character {
  grid-template-columns: 200px 1fr;
  gap: 16px;
}
.card--character img {
  width: 100%;
  border-radius: 16px;
}